
img{
  border-radius: 15px
  

}

h1 {
  font-size: 80px;
}

h1 {
    color: rgb(15, 12, 12);
    text-align: center;
    
  }

  ul,li{
    float: right;
    color: pink;
    
  }

  ul {
    list-style-type: none;
    margin: 25;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (pink) on hover */
  li a:hover {
    background-color: rgb(255, 192, 203);
  }
 
  